legacy/java/src/nbclient/modelimpl/game-actions.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!--
    Document   : game-state.dtd
    Created on : September 7, 2003, 6:26 PM
    Author     : administrator
    Description:
        Purpose of the document follows.
-->

<!ELEMENT game-actions (name, counter, action*)>

<!ELEMENT name (#PCDATA)>

<!ELEMENT counter (#PCDATA)>

<!ELEMENT action (counter, text, command*)>

<!ELEMENT command (#PCDATA)>

<!ELEMENT text (#PCDATA)>
